# Build and Release Folders
bin-debug/
bin-release/
html-template

# Project property files
.actionScriptProperties
.flexProperties
.project


# Flash Builder
.FlexUnitSettings/
.settings/

# My Convention
libs/
assets/

# Project Spec